@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #3bdcaf;
  font-family: 'Oswald', sans-serif !important;
}
li {
  list-style: none;
}
a:link {
  text-decoration: none;
}
a {
  color: #17a2b8;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.error {
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.info {
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
